.brends-container {
  display: flex;

  width: 1100px;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;
  padding-top: 9px;
  padding-left: 32px;
}
.swiper__circle-btn--show-more {
  margin-right: 16px;
}

.block__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 240px;
  border-radius: 6px;
  border: 1px solid $brend-border;
  background-color: $background-white;
}
.block__link:hover .circle-btn--show-more {
  transform: scale(0.9);
  filter: invert(100%);
}
.block:last-child,
.block:nth-last-child(2),
.block:nth-last-child(3) {
  display: none;
}

.read-more--close {
  background: url(../img/expand-close.svg) no-repeat left;
}
.read-more__brends {
  margin-left: 24px;
  margin-top: 24px;
}
// /* ______________________Swiper___________________ */
.swiper {
  display: none;
  padding-top: 24px;
  z-index: -1;
}
.swiper-wrapper {
  padding-left: 16px;
}

.swiper-pagination-bullet-active {
  background-color: $pagination-bullet !important;
}
.swiper-pagination-bullets {
  margin-top: 16px;
  position: static;
}
.brend__img {
  margin-left: 16px;
}

.swiper-slide__brend {
  width: 240px;
}
// /* ________768px_________ *//
@media (max-width: $screen-md) {
  .brends-container,
  #toggleButton,
  .read-more__devices {
    display: none;
  }
  .swiper {
    display: block;
    z-index: 1;
  }

  .price-list {
    display: none;
  }
  .category {
    display: flex;
  }
}
/* __________1120px_________ */
@media (max-width: $screen-lg) {
  .brends-container {
    width: 816px;
    padding-left: 24px;
  }
  .title {
    padding-left: 24px;
  }
  .block:nth-last-child(4),
  .block:nth-last-child(5) {
    display: none;
  }
}

@media (max-width: 854px) {
  .brends-container {
    width: 700px;
  }
}
