* {
  box-sizing: border-box;
}
html {
  font-family: 'TT Lakes', 'Open Sans', 'Arial', sans-serif;
}
a {
  text-decoration: inherit;
  color: $link-gray;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: $background-gray;
}
button {
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}
section {
  padding-bottom: 50px;
}
.link {
  color: $text-main;

  font-size: 16px;

  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: 0.3s;
  &:hover {
    color: $button-ping;
  }
}
.subtitle {
  padding-left: 32px;
  color: $link-gray;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.blocks-container {
  width: 100%;

  max-width: 1440px;
}
// ___________Header_________________
.header {
  display: flex;
  background-color: $background-white;
  min-height: 88px;
  justify-content: space-between;
  border-bottom: 2px solid $header-border;
  &__logo-part {
    display: flex;

    align-items: center;
  }

  &__wrapper {
    display: inline-flex;
    justify-content: space-between;
    gap: 21px;
  }
  &__user-panel {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .repair-panel {
    display: flex;
    gap: 21px;
    align-items: center;
  }
  &__repair-panel::before {
    content: '';
    height: 100%;
    width: 2px;
    background: url(../img/divider.svg) no-repeat left 50%;
  }
}

/*__________ MAIN_______________ */
.main {
  width: 100%;
  margin: 0 auto;
  background: $background-gray;
}
.title {
  display: flex;
  background: url(../img/highlight.svg) left 44% no-repeat;
  justify-content: space-between;

  padding: 31px 0px 31px 24px;
  &__name {
    color: $text-main;

    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    font-family: inherit;
    margin: 0;
  }
}
.nav-2 {
  position: relative;
}
.nav {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  &__item {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    min-width: fit-content;
  }
  &__link {
    display: block;
    padding: 8px 9px 8px 16px;
    min-width: fit-content;
  }
  &__item--active {
    border-radius: 6px;
    border: 2px solid $link-border;
  }
  &__link:hover {
    color: $text-main;
  }
}
// ________About____________
.about {
  display: flex;
  justify-content: space-between;
  &__about-content {
    width: 54%;
    padding: 0px 0px 0px 24px;
  }
}
.text-content {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 158px;
}

.about-content__read-more {
  margin-top: 10px;
}
.read-more {
  background: url(../img/expand.svg) no-repeat left;
  position: relative;

  color: $text-main;
  font-size: 16px;
  border: none;
  font-weight: 500;
  line-height: 24px;

  font-family: inherit;
  padding-left: 30px;
}
.read-more--close {
  background: url(../img/expand-close.svg) no-repeat left;
}
.read-more:hover {
  color: $button-ping;
}
/* _______320px_________ */
@media (max-width: $screen-md) {
  .header__logo-part {
    gap: 18px;
    margin-left: 16px;
  }
  .header__wrapper {
    margin-right: 20px;
  }
  .logo-img {
    background: none;
    padding: 0;
  }
  .user-panel {
    display: none;
  }
  .title {
    padding-top: 0;
    padding-bottom: 20px;
    background: url(../img/highlight.svg) left 50% no-repeat;
  }
  .title__name {
    padding: 21px 1px 1px 10px;
  }
  .title__btns {
    display: none;
  }
  .nav {
    padding-left: 16px;
  }
  .nav-2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 24px;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0) 100%
    );
    z-index: 1;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .about__about-content {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  .about__image-cps {
    width: 100%;
    padding-top: 20px;
    height: auto;
  }
  .swiper {
    position: relative;
  }
  .swiper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 24px;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0) 100%
    );
    z-index: 1;
  }
}
/* ________768px_________ */
@media (min-width: $screen-md) {
  .header {
    padding: 0 21px 0 0px;
  }
  .header__logo-part {
    gap: 30px;
  }
  .logo-part::before {
    position: relative;
    display: block;
    content: '';
    height: 32px;
    width: 2.5px;
    background-color: $brend-border;
    left: 87px;
    top: -2px;
  }
  .title__btns {
    display: none;
  }

  .nav {
    padding-left: 24px;
    flex-wrap: wrap;
    overflow-x: visible;
    justify-content: start;
  }

  .about__image {
    width: 44%;
  }
  .about__image-cps {
    width: 100%;

    padding: 20px 40px 14px 40px;
  }

  .equipment-block__equipment-container {
    height: 170px;
    overflow: hidden;
  }
}
/* __________1440px_________ */
@media (min-width: $screen-xl) {
  .blocks-container {
    display: flex;
  }
  .blocks-without-aside {
    width: 1190px;
  }
  .header {
    display: none;
  }
  .title {
    padding-left: 24px;
  }
  .title__btns {
    display: flex;
    margin-right: 32px;
    gap: 32px;
  }

  .nav {
    width: 1063px;
    flex-wrap: wrap;
    overflow: visible;
  }
  .nav li:nth-child(2) {
    display: none;
  }

  .about__image-cps {
    width: 531px;
  }
}
